<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./templates/head.ejs'); %>
    <style>
        .page-item.active .page-link{
            background-color: #00ADB5;
            color: white;
            border-color: #00ADB5;
        }
       .page-link, .page-link:hover{
            color: #00ADB5;
            background-color: #393E46;
        }
        .page-item.disabled .page-link {
            background-color: #393E46;
            color: white;
        }
    </style>    
</head>
   
<body class="container-fluid bg" style="background-color: #393E46; color: #00ADB5;">

    <header>  <%- include('./templates/header'); %> </header>

    

    <div style="display: flex;flex-direction: row-reverse;margin: 35px;">
        <a href="/" data-toggle="tooltip" title="Click here to Home Page" class="btn btn-primary"
        style="background-color: #00ADB5; color: white; border: none;">Back</a>
      </div>
    
    <div class="table-responsive my-5">
    <table id="table" 
      class="table table-hover table-info">
      <thead>
        <tr>
            <th>Title</th>
            <th>Released Date</th>
            <th>Genre</th>
            <th>Duration</th>
            <th>Country</th>
            <th>Director</th>
            <th>Language</th>
         </tr>   
      </thead>   
      <tbody>
       <% data.forEach((movie)=>{ %>
             <tr>
                 <td><%=movie._source.title%></td>
                 <td><%=movie._source.date_published%></td>
                 <td><%=movie._source.genre%></td>
                 <td><%=movie._source.duration%></td>
                 <td><%=movie._source.country%></td>
                 <td><%=movie._source.director%></td>
                 <td><%=movie._source.language%></td>
             </tr>    
         <% }) %>   
        </tbody>  
    </table>  

 
</div>

 
<script>

    $(document).ready(function() {
          $('#table').DataTable({
            "order": [],
            // order: [[1, 'asc']]
        
            "columnDefs": [
              { "searchable": false, "targets": 0 },
              { "searchable": false, "targets": 1 },
              { "searchable": false, "targets": 3 },
              { "searchable": false, "targets": 5 },
              { "orderable": false, "targets": 0 },
              { "orderable": false, "targets": 2 },
                 { "orderable": false, "targets": 4 },
                 { "orderable": false, "targets": 5 },
                 { "orderable": false, "targets": 6 },
              
             ],
            
          });
    });
</script>

</body>
</html>